<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
  <%= link_to t("logo"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("title.home"), root_path, class: "nav-link" %></li>
        <li><%= link_to t("title.help"), help_path, class: "nav-link"  %></li>
        <% if logged_in? %>
          <li><%= link_to t("index.link"), users_path, class: "nav-link" %></li>
          <li class="dropdown">
            <%= link_to "#", class: "dropdown-toggle", "data-toggle": "dropdown", class: "nav-link" do %>
              <%= t "users.account" %>
              <b class="caret"></b>
            <% end %>
            <ul class="dropdown-menu">
              <li><%= link_to t("users.profile"), current_user %></li>
              <li><%= link_to t(".settings"), edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to t(".logout"), logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to t("login.title"), login_path, class: "nav-link" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
